<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title %}{% endblock %} | UP ITDC HRIS </title>
        <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" />
        <script src="{{ MEDIA_URL }}js/jquery.min.js"></script>
        <script src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script>
        <script src="{{ MEDIA_URL }}js/dropdown.js"></script>
        <script>
            $.ajaxSetup({ 
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });
            
            $(document).ready(function(){
                var h = window.innerHeight;
                var w = window.innerWidth;
                $('.body').css('min-height',h-206);
                $('nav').css('height',$('.body').height()-20);
            });
        </script>
        {% block js  %}{% endblock %}
        {% block css %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="wrapper">
				
			</div><!-- end of wrapper -->
        </header>
        <div class="banner">
			<div class="wrapper">
				<span class="up">University of the Philippines</span>
				<span class="itdc">Information Technology Development Center</span>
			</div><!-- end of wrapper -->
        </div><!-- end of nav -->
        <div class="body">
			<nav>
				<div class="wrapper">
					<div class="title">
						<span>hris</span>
						<div style="clear:both"></div>
					</div>
					<div class="links">
						<div><a href="\">home</a></div>
						<div><a href="{% url tax-calc">tax calculator</a></div>
						<div><a href="{% url auth_login %}">member login</a></div>
						{% if request.user.is_authenticated %}
							<div><a>departments</a></div>
							<div><a>employees</a></div>
							<div><a>forms</a></div>
						{% endif %}
						<div><a>about</a></div>
						<div style="clear:both"></div>
					</div>
					<div style="clear:both"></div>
				</div><!-- end of wrapper -->
				<div style="clear:both"></div>
			</nav>
			<div class="bodywrapper">
				{% block body %}{% endblock %}
			</div><!-- end of wrapper -->
			<div style="clear:both"></div>
        </div><!-- end of body -->
        <footer>
			<div class="wrapper">
				
			</div><!-- end of wrapper -->
        </footer><!-- end of footer -->
        <div style="clear:both"></div>
    </body>
</html>
