{% extends 'base.html' %}

{% block title  %} Contact {% endblock %}

{% block css %}
	<link href="{{MEDIA_URL}}css/profile.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

    <div class="left">
		<div class="welcome">
			<div class="icon"></div>
			<span class="text">contact us - main</span>
		</div>
		<div class="shop-map">
			<iframe width="680" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=san+fernando+city,+la+union,+philippines&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.937499,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=San+Fernando+City,+La+Union,+Ilocos,+Philippines&amp;ll=16.616667,120.316667&amp;spn=0.004185,0.004823&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=san+fernando+city,+la+union,+philippines&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.937499,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=San+Fernando+City,+La+Union,+Ilocos,+Philippines&amp;ll=16.616667,120.316667&amp;spn=0.004185,0.004823&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</div>
		<div class="contact">
			<span class="small">Quezon Avenue, Sevilla</span>
			<span class="small">San Fernando City</span>
			<span class="small">La Union 2500</span>
			<br />
			<span class="small">Landline: +63.72.888.08.32</span>
			<span class="small">Mobile Number: +63.72.917.5112.961</span>
			<span class="small">Email Address: contact@carrbrake.com</span>	
		</div>
		<div class="welcome">
			<div class="icon"></div>
			<span class="text">contact us - pagdalagan</span>
		</div>
		<div class="shop-image">
		
		</div>
		<div class="contact">
			<span class="small">Pagdalagan</span>
			<span class="small">San Fernando City</span>
			<span class="small">La Union 2500</span>
			<br />
			<span class="small">Landline: N/A</span>
		</div>
		<div id="clear-both"></div>
	</div>
	
	<div class="right">
		<div class="announcements">
			<div class="title">
				<div class="icon"> </div>
				<span>Announcements</span>
			</div>
			<div class="box">
				<div class="announcement">
					<span class="titulo">Launching of website</span><span class="date">posted 2 June 2012</span>
					<div class="content">CarrBrake.com is now available!</div>
				</div>
				<div class="announcement">
					<span class="titulo">Pagdagalagan Branch</span><span class="date">posted 30 May 2012</span>
					<div class="content">We are opening our Pagdalagan branch ...</div>
				</div>
			</div>
			<div id="clear-both"></div>
		</div>
		<div id="clear-both"></div>
	</div>
	<div id="clear-both"></div>
	
{% endblock %}
