{% extends 'base.html' %}

{% block title  %} Home {% endblock %}

{% block js %}
    <script type="text/javascript">
		$(document).ready(function() {
		});
	</script>
{% endblock %}

{% block body %}
    <div class="home">
		<div class="announcements">
			<div class="title">
				<div class="icon"> </div>
				<span>Announcements</span>
			</div>
			<div class="box">
				<div class="announcement">
					<span class="titulo">Launching of website</span><span class="date">posted 2 June 2012</span>
					<div class="content">CarrBrake.com is now available!</div>
				</div>
				<div class="announcement">
					<span class="titulo">Pagdagalagan Branch</span><span class="date">posted 30 May 2012</span>
					<div class="content">We are opening our Pagdalagan branch ...</div>
				</div>
			</div>
			<div id="clear-both"></div>
		</div>
		<div class="banner">
			<div class="logo"></div>
			<span class="title">Welcome to</span>
			<span class="title">Carr Brake Auto Supply</span>
			<div id="clear-both"></div>
		</div>
		<div class="brands">
			<div id="clear-both"></div>
		</div>
        <div id="clear-both"></div>
    </div>
    
    <div id="clear-both"></div>
{% endblock %}
