{% extends 'core/base.html' %}

{% block title %}Departments{% endblock %}

{% block extra_head %}
	<link href="{{ MEDIA_URL }}css/departments.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
	<div class="breadcrumbs">
		<a href="">Home</a><span> - </span><a href="">Departments</a>
	</div>
	<span class="page-title">Departments</span>
	<div class="departments">
		{% for department in departments %}
			<div class="department">
				<span class="name">{{ department }}</span>
				<div class="right-action">
					<a><img src="{{MEDIA_URL}}images/icons/delete.png"></a>
					<a><img src="{{MEDIA_URL}}images/icons/edit.png"></a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
