{% extends 'accounts/base.html' %}

{% block title %}{{ profile.user.username }}{% endblock %}

{% block css %}
	<link href="{{MEDIA_URL}}css/profile.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
	<span class="page-title">+{{ request.user }}</span>
	<div class="profile-header">
		{% if request.user.get_profile.department == 'Human Resource Department' %}
		<a href="{% url edit_profile %}"><div class="action">
			<div class="icon edit"></div>
			<span class="text">edit profile</span>
		</div></a>
		{% endif %}
		<a href="{% url auth_logout %}"><div class="action">
			<div class="icon logout"></div>
			<span class="text">logout</span>
		</div></a>
		<div id="clear-both"></div>
	</div>
	<div id="clear-both"></div>
	<div class="user-profile">
		<div class="info big"><span class="label">name: </span><span class="entry big">{% if request.user.first_name %}{{ request.user.first_name }} {{ request.user.last_name }}{% else %} N/A{% endif %}</span></div>
		<div class="info"><span class="label">email: </span><span class="entry small">{{ request.user.email }}</span></div>
		<br />
		<div class="info"><span class="label">location: </span><span class="entry small">{{ profile.city }}, {{ profile.country }}</span></div>
		<div class="info"><span class="label">birthday: </span><span class="entry small">{% if profile.birthday %}{{ profile.birthday|date:"j F Y" }}{% endif %}</span></div>
		<div class="info"><span class="label">gender: </span><span class="entry small">{{ profile.gender|lower }}</span></div>
		<div class="info"><span class="label">status: </span><span class="entry small">{{ profile.marital_status|lower }}</span></div>
		<br />
		<div class="info"><span class="label">personnel id: </span>{{ profile.personnel_id }}</div>
		<div class="info"><span class="label">designation: </span>{{ profile.designation }}</div>
		<div class="info"><span class="label">itdc email: </span>{{ profile.official_email }}@ittc.edu.ph</div>
	</div>
	<div id="clear-both"></div>
{% endblock %}
