@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: SegoeUI;
	src: url('../fonts/SEGOEUI.TTF');
}

@font-face {
    font-family: SegoeSB;
	src: url('../fonts/SegoeSb.TTF');
}

@font-face {
    font-family: SegoeUII;
	src: url('../fonts/SEGOEUII.TTF');
}

@font-face {
    font-family: SegoeL;
	src: url('../fonts/SegoeL.ttf');
}

@font-face {
    font-family: SegoeLI;
	src: url('../fonts/SegoeLI.ttf');
}

#clear-both { clear: both; }
a { text-decoration: none; }

body, html {
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	font-family: SegoeUI;
	letter-spacing: 0px;
}

header, .banner, .body {
	width: 1024px;
	margin: 0 auto;
	padding: 0;
	min-height: 20px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

header {
	background-color: #141414;
	color: #ffffff;
	height: 50px;
}

.banner {
	color: #141414;
	height: 80px;
	border-bottom: 1px solid #ccc;
}

.banner .wrapper {
	height: 60px;
	padding: 10px;
	width: 1004px;
}

.banner .wrapper span {
	display: block;
	color: #141414;
	font-family: SegoeL;
}

.banner .wrapper span.up {
	font-size: 20px;
	height: 20px;
}

.banner .wrapper span.itdc {
	font-size: 30px;
	height: 30px;
}

.body {
	min-height: 200px;
	color: #141414;
}

.body nav {
	width: 199px;
	min-height: 200px;
	float: left;
	border-right: 1px solid #dedede;
}

.body nav .wrapper {
	padding: 10px;
	width: 180px;
}

.body nav .wrapper .title {
	min-height: 20px;
	font-family: SegoeL;
	margin-bottom: 5px;
	border-bottom: 1px solid #141414;
}

.body nav .wrapper .title span { 
	display: block;
	font-size: 45px;
	height: 35px;
	line-height: 35px;
	color: #0A64A4;
}

.body nav .wrapper .links {
	min-height: 20px;
	font-family: SegoeL;
}

.body nav .wrapper .links div {
	height: 25px;
	line-height: 25px;
}

.body nav .wrapper .links div a {
	font-size: 25px;
	text-decoration: none;
}

.body nav .wrapper .links div a:visited { color: #141414; }

.body nav .wrapper .links div a:hover, .body nav .wrapper .links div a.active {
	cursor: pointer;
	color: #0A64A4 !important;
}

.body .bodywrapper {
	width: 804px;
	min-height: 200px;
	padding: 10px;
	float: left;
}

.breadcrumbs {
	width: 780px;
	height: 12px;
	font-family: Arial, san-serif;
	font-size: 10px;
}

.breadcrumbs a { color: #0A64A4; }
.breadcrumbs a:visited { color: #0A64A4; }

.page-title {
	display: block;
	min-height: 35px;
	font-family: SegoeL;
	font-size: 35px;
	letter-spacing: -1px;
	line-height: 30px;
}

.calc {
	width: 780px;
	padding: 10px;
	min-height: 200px;
}

.calc input.salary {
	width: 250px;
	height: 50px;
	line-height: 50px;
	font-family: SegoeL;
	font-size: 30px;
	padding-left: 7px;
	border: 0;
	color: #000;
}

.calc .status {
	width: 780px;
	min-height: 20px;
	margin-top: 20px;
}

.calc .status .type, .calc .status .without, .calc .status .with {
	width: 250px;
	height: 200px;
	border-right: 1px solid #dedede;
	margin-right: 9px;
	float: left;
	font-family: SegoeL;
}

.calc .status .type div, .calc .status .without div, .calc .status .with div {
	width: 230px;
	height: 35px;
	font-size: 30px;
}

.calc .status .with {
	border: 0;
	margin: 0;
}

.calc .status .output {
	height: 40px;
	width: 600px;
	margin-top: 20px;
	float: right;
}

.calc .status .output span {
	display: block;
	margin-right: 7px;
	height: 50px;
	float: right;
	font-family: SegoeL;
}

.calc .status .output span.label {
	font-size: 25px;
	line-height: 80px;
}

.calc .status .output span.label.forty {
	font-size: 25px;
	line-height: 57px;
}

.calc .status .output span.total-tax {
	font-size: 38px;
	color: #A60800;
}

.calc .status .output span.gross-salary {
	font-size: 50px;
}
